.products {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  color: #fff;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.products li:hover {
  background-color: #333333;
  border: solid;
  border-color: #969bf6;
  cursor: pointer;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}
