.background {
  background: url(/background/macmini.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 100vh;
  height: 100svh;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ul li {
  margin-bottom: 150px;
}

.ul h1 {
  font-size: 60px;
  font-family: Inconsolata;
}

.ul h4 {
  font-size: 20px;
  font-family: Inconsolata;
  margin-top: -40px;
}

.button-container {
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .ul h1 {
    font-size: 30px;
  }

  .ul h4 {
    font-size: 20px;
    margin-top: -20px;
  }
}
