.background {
  background: url(/background/macmini.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
}
