.header-nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-li {
  display: flex;
  margin-right: 5px;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-div input {
  width: 50%;
  height: fit-content;
}

.label {
  cursor: pointer;
}

.label:hover {
  color: white;
}

.label:active {
  color: azure;
}

@media only screen and (max-width: 600px) {
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
