.header-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: solid;
  border-radius: 5px;
  border-color: #afb2f9;
}

.header-div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-div input {
  width: 50%;
  height: fit-content;
}

.label {
  margin-bottom: 20px;
  cursor: pointer;
}

.label:hover {
  transition: 0.2s;
  color: white;
}

.label:active {
  color: azure;
}

@media only screen and (max-width: 600px) {
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
}
