.auth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: #646cff;
  border-top: none;
  padding: 80px;
  margin-top: 35px;
  border-radius: 20px;
  width: 70%;
}

.body {
  background-image: url(background/MacbookBackground.jpg);
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .body {
    background-image: url(background/MacbookBackground.jpg);
    background-size: cover;
    background-position: bottom;
  }

  .auth-card {
    width: 100%;
  }
}
